###  MTA questions

In [2]:
import random
print(random.sample(range(10),7))

[0, 9, 4, 2, 1, 8, 6]

In [ ]:
### Consider the code:

In [1]:
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

5.0

In [3]:
x='Durga'
y='Durga'

print(result)

5.0

In [7]:
## Consider the follawing lists:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1 == n2)

False
True

In [8]:
s='AB CD'
list=list(s)
list.append('EF')
print(list)

['A', 'B', ' ', 'C', 'D', 'EF']

In [11]:
a = 5
b = 10
c = 2
d = True

x = a + b * c
y = a + b / d

if x > y:
    print('Valid')
else:
    print('Invalid')

Valid

In [14]:
result=(2*(3+4)**2-(3**3)*3)
print(result)

17

In [15]:
a=21
b=6
print(a/b)
print(a//b)
print(a%b)

3.5
3
3

In [20]:
numbers=[10,20,30,40,50,]
alphabet=['a','b','c','d','e']
print( numbers is alphabet)
print( numbers == alphabet)
numbers=alphabet
print( numbers is alphabet)
print( numbers == alphabet)

False
False
True
True

In [22]:
s='Python is easy'
s1=s[6:-4]
print(len(s1))

4

In [24]:
l = ['Apple', 'Boy', 'Cat', 'Dog']

for x in l:
    if len(x) == 3:
        print(x)

Boy
Cat
Dog

In [25]:
a= 15
b=5
print(a/b)

3.0

In [26]:
s='Python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1+s2)

is easyeasy

In [27]:
result=8//6%5+2**3-2
print(result)

7

In [28]:
a=3
b=5
a +=2**3
a -=b//2//3
print(a)

11

In [36]:
## MTA - Question Data Types

In [37]:
7%2+3

4

In [38]:
from sys import argv
sum=0
for i in range(2,len(argv)):
    sum += float(argv[i])
print("The Average for {0} is {1:.2f}".format(argv[1],sum/len(argv)-2)))

SyntaxError: unmatched ')' (736472180.py, line 5)

In [34]:
from sys import argv

argv = ['avg.py', 'John', '10', '20', '30']  # simulate command-line input

total = 0

for i in range(2, len(argv)):
    total += float(argv[i])

average = total / (len(argv) - 2)

print("The Average for {0} is {1:.2f}".format(argv[1], average))

The Average for John is 20.00

In [ ]:
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
    print(a)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [1]:
6//4%5+2**3-2//3

9

In [2]:
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print(not 10==10)

False
True
False

In [3]:
x=2
y=6
x+=2**3
print(x)

10

In [4]:
x=3/3+3**3-3
print(x)

25.0

In [5]:
result=str(bool(1) + float(10)/float(2))
print(result)

6.0

In [6]:
from sys import argv
print(argv[1]+argv[2])

-fC:\Users\bhagy\AppData\Roaming\jupyter\runtime\kernel-040eec80-dd59-4232-a2b3-11c9bc733164.json

In [7]:
print(not 0)
print(not 10)
print(not '')
print(not 'durgs')
print(not None)

True
False
True
False
True

In [11]:
l1 = ['sunny', 'bunny', 'chinny', 'vinny']
l2 = ['sunny', 'bunny', 'chinny', 'vinny']

print(l1 is not l2)   # different objects
print(11 != 12)      # value comparison

a = 11
b = 12

print(a is not b)    # identity comparison
print(a != b)        # value comparison

True
True
True
True

In [12]:
x=2**2**2
print(type(x))

<class 'int'>

In [13]:
v1 = 1
v2 = 0
v1 = v1 ^ v2
v2 = v1 ^ v2
v1 = v1 ^ v2
print(v1)

0

In [15]:
lst = [7,8,9]
b = lst[:]
print(b is lst)
print(b==lst)

False
True

In [1]:
## Flow -control,Function & Documentation

In [6]:
## We are  developing gold loan application for XYZ company

In [1]:
amount=float(input('Enter Loan Amount:'))
intrest_rate=0
if amount > 0 and amount<= 5000:
    intrest_rate = 10
elif amount > 5000 and amount<100000:
    intrest_rate = 12

elif amount >= 100000 and amount<150000:
    intrest_rate = 16
    
else:
    intrest_rate = 22

Enter Loan Amount: 22000

In [6]:
marks=[30,40,50,45,50,100]
average=sum(marks)
grades={1:'A',2:'B',3:'C',4:'D'}
if average>=90 and average<=100:
    key=1
elif average>=80 and average<90:
    key=2
elif average>=50 and average<80:
    key=3
else:
    key=4
print(grades[key])

D

In [2]:
collected_amount = 3000
commission = 0

if collected_amount <= 2000:
    commission = 50

elif collected_amount > 2000 and collected_amount < 3000:
    commission = 100

elif collected_amount >= 3000:
    commission = 150
    commission += 200

print("Commission:", commission)

Commission: 350

In [7]:
order_value = 1500
state = 'ap'
delivery_charge = 0

# Base delivery charge
if state in ['up', 'np', 'ts']:
    if order_value <= 1000:
        delivery_charge = 50
    elif order_value < 2000:
        delivery_charge = 100
    else:
        delivery_charge = 150
else:
    delivery_charge = 25

# Additional charges
if state in ['up', 'kp', 'ap']:
    if order_value >= 1000:
        delivery_charge += 20

    if order_value < 2000 and state in ['kp', 'ap']:
        delivery_charge += 30
    else:
        delivery_charge += 15

print("Delivery Charge:", delivery_charge)

Delivery Charge: 75

In [13]:
l = [10, 20, [30, 40], [50, 60]]
count = 0

for i in range(len(l)):
    if type(l[i]) == list:
        count += 1

print(count)

2

In [15]:
l = [10, (20,), {30}, {}, [40, 50]]
count = 0

for i in range(len(l)):
    if type(l[i]) == list:
        count += 1
    elif type(l[i]) == tuple:
        count += 2
    elif type(l[i]) == set:
        count += 3
    elif type(l[i]) == dict:
        count += 4
    else:
        count += 5

print(count)

15

In [16]:
t = (2,4,6,8,10,12)
d = {1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
           result+=t1
print(result)

13

In [17]:
t = (2,4,6,8,10,12)
d = {1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
        continue
    else:    
           result+=t1
print(result)

31

In [19]:
values = [[3,4,5,1],[33,6.1,2]]
v = values[0][0]
for lst in values:
    for element in lst:
        if v > element:
            v = element
print(v)

1

In [21]:
def get_names():
    names = ['Sunny', 'Bunny', 'Chinny', 'Vinny', 'Pinny']
    return names[2:]

def update_names(elements):
    new_names = []
    for name in elements:
        new_names.append(name[:3].upper())
    return new_names

print(update_names(get_names()))

['CHI', 'VIN', 'PIN']

In [23]:
 lst = []   # empty list created outside the function

def my_list(x):
    lst.append(x)
    return lst

my_list('chiken')
my_list('mutton')
print(my_list('fish'))

['chiken', 'mutton', 'fish']

In [25]:
def fib_seq(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib_seq(n-1)+fib_seq(n-2)
for i in range(7):
    print(fib_seq(i),end=',')

0,1,1,2,3,5,8,

In [9]:
def count_letter(letter, word_list):
    count = 0
    for word in word_list:
        if letter in word:
            count += 1
    return count   # aligned properly

word_list = ['apple', 'pears', 'orange', 'mango']
letter = input('Enter some alphabet symbol: ')
letter_count = count_letter(letter, word_list)
print(letter_count)

Enter some alphabet symbol:  apple

1

In [10]:
startmsg = "hello"
endmsg = ""
for i in range(0,len(startmsg)):
    endmsg = startmsg[i] + endmsg
print(endmsg)

olleh

In [11]:
x = [13,4,17,10]
w = x[1:]
u = x[1:]
y = x
u[0] = 50
y[1] = 40
print(x)

[13, 40, 17, 10]

In [12]:
marks=int(input('Enter Student Marks:'))
if marks >=90:
    grade='A'
elif marks>=80:
    grade='B'
elif marks>=70:
    grade='C'
elif marks>=65:
    grade='D'
else:
    grade='E'
print('Your grade is:',grade)

Enter Student Marks: 56

Your grade is: E

In [14]:
def f1():
    try:
           return 1
    finally:
           return 2


x=f1()
print(x)

2

In [15]:
try:
    print('try')

except:
    print('except')

else:
    print('else')
finally:
    print('Finally')

try
else
Finally

In [16]:
try:
    print('try')
    print(10/0)

except:
    print('except')

else:
    print('else')
finally:
    print('Finally')

try
except
Finally

In [3]:
data=[]
def get_data():
    for i in range(1,5):
        marks=input('Enter Marks:')
        data.append(marks)

def get_avg():
    sum=0
    for mark in data:
        sum += mark
    return sum/len(data) 
get_data()
print(get_avg())

Enter Marks: 68
Enter Marks: 98
Enter Marks: 88
Enter Marks: 88

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [6]:
import os
def read_file(file):
    line=None
    if os.path.isfile(file):
        data=open(file,'r')
    while line != '':
        line=data.readline()
        print(line)

with open('voters_list.txt','a+') as f:
     f.write('New voters info')

     data=f.read()
     print(data)

In [8]:
import random

fruit = ['Apple', 'Mango', 'Orange', 'Lemon']
random_list = [random.choice(fruit)[:2] for i in range(3)]
print(''.join(random_list))

ApApAp